
/* reset */
* {margin:0;padding:0}
body {font-size:12px;font-family: 'Noto Sans KR', sans-serif}
li {list-style:none}
a {text-decoration:none;color:#000}
img {vertical-align: top;border:0}
#wrap {width:100%;margin:0 auto}

#sub1_visual {background:url(../images/visual2.jpg) no-repeat center;background-size:cover;width:100%;height:500px}

#contents2 {position:relative;width:1200px;margin:100px auto}
#contents2 form {margin:50px 0}
#contents2 form select {width:250px;height:40px;padding:10px}
#contents2 form select option {font-size:14px}

#contents2 .product_search {margin:50px 0;}
#contents2 .product_search .select {position:relative;text-align:center}
#contents2 .product_search .select li {display:inline-block;margin:0 20px;padding:5px}
#contents2 .product_search .select li a {font-size:14px}
#contents2 .product_search .select li:hover {border-bottom:2px solid #000}

#contents2 .product_search .filter {text-align:center;float:right}
#contents2 .product_search .filter li {display:inline-block;margin-left:30px;padding:5px}


#contents2 .product_list ul {position:relative;top:30px}
#contents2 .product_list ul .pro_li {float:left;width:276px;height:350px;text-align:center;margin:12px}
.pro_pic {width:275px;height:270px;padding:5px 0;background-color:#e5e5e5}
.pro_pic:hover {background-color:rgb(0,0,0,0.2);}
.pro_pic img {position:relative;top:30px;}

.pro_pic img:nth-child(2),
.pro_pic img:nth-child(3),
.pro_pic img:nth-child(4),
.pro_pic img:nth-child(5) {position:relative;top:-10px}

#contents2 .product_list ul .pro_li .product_detail {margin:10px;text-align:left}

#contents2 .product_list ul .pro_li .circle_ico {margin:10px 0 0 15px;text-align:left;width:110px}
#contents2 .product_list ul .pro_li .circle_ico .ico {color:#444;border:3px solid #444;border-radius:50%;line-height:40px;display:inline-block;
width:50px;height:50px;box-sizing:border-box;text-align:center;font-size:14px;font-weight:bold}


#contents2 .product_list ul .big {width:570px;height:630px}
#contents2 .product_list ul .big .pro_pic {width:530px;height:615px;padding:20px}
 .big .pro_pic img {top:70px;}

.product_list_box dl {text-align:center;color:#000;font-size:14px;color:#444}
.product_list_box dl dt {font-weight:bold}


#contents2 .product_list button {position:relative;width:100%;padding:20px 0;margin:50px auto;
font-size:18px;font-weight:100;cursor:pointer;color:#444;background:#fff;border:1px solid #ccc}

